
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
   
}
html,body{
    width: 100%;
    height: 100%;

}
body{
    overflow-x: hidden;
}

.mousefollower{
    border: 2px solid #fff;
    background-color: rgb(255,255,255);
    scale: 2;
    mix-blend-mode: difference;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw ;
}
.line{
    /* background-color: red; */
    height: fit-content;
    /* margin-top: 5px; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5 , #line1-part1 h6 {
    font-size: 3vw ;
    font-weight: 100;
    font-family: "silk sarif";
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;

}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 600;
}

.line h2{
    font-size: 6.5vw;  /* aagr font family dalne ke baddance kre to yha change krna hai  */
    text-transform: uppercase;
    font-weight: 600;
    /* animation-name: anime; */
    opacity: 0;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes anime {
    0%{
        /* font-family: "plain light"; */
        font-family: sans-serif;
        -webkit-text-stroke: 1px #fff;
        color: white;
        opacity: 1;
        
    }
    48%{
        /* font-family: "plain light"; */
        font-family: sans-serif;
        -webkit-text-stroke: 1px #fff;
        color: white;
        opacity: 0;
        
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-size: 6.3vw;
        opacity: 1;
           
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-size: 6.3vw;
        opacity: 0; 
          
    }
    
}


#main{
    position: relative;
    background-color: #151515;
}

#page1{
    height: 100vh;
    width: 100%;
    /* background-color: #151515; */
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;

}

#nav img{
    width: 10%;
    height: 10%;
    margin-left: 15px;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

}

#nav-part2 h4 {
    font-size: 1vw;
    font-weight: 500;
}

.hero{
    width: 72%;
    margin-left: 27%;
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* position: relative; */
    /* z-index: 9999; */
}


.hero:nth-child(2){
    margin-top: 12vh;
}
.hero h1{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    /* font-family: sans-serif; */
    font-weight: 500;
    position: relative;
} 

#hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk-serif";
    left: 20%;
    top: 26%;
}


.hero h2{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    /* font-family: sans-serif; */
    font-weight: 500;
    border-bottom: 0.6vw solid white;
    padding-bottom:0.5vw;
    /* transition: all ease 0.3s; */
}

.hero h2:hover{
    -webkit-text-stroke:1px #fff ;
    color: transparent;
    border-bottom: 0.6vw solid #ffffff00;

}


#page2{
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
}

#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}


#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;

}

#video-cursor{
    background-color: #FFA63D;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 70%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-cursor i {
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgba(255, 76, 76, 0.851); */
    position: relative;
    padding:17vh 2vw;
    margin-bottom: 20vh;
    margin-top: 20vh;
}


#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}


#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk-serif";
    left: -12%;
    top: 8%;
}

#page3 .underline{
    margin-left: 28vw  ;
}

#image-div-container{
    padding: 1vw;
    position: relative;
    /* background-color: blue; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-div{
    height: 42vw;
    width: 31vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 1vw;
    /* background-color: red; */
}
.image-div:nth-child(1){
    height: 29vw;
    width: 21vw;
}
.image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23vh;
    margin-left: 10vw;
    flex-shrink: 0;

}

.page3-circle1 svg{
    height: 30%;

}


.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 2vw;
    margin-right: 3vw;

}

.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;

}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    scale: 0;
    border-radius: 50%;
    transition: all ease 0.5s;
}
.circle-in p {
    font-size: 0.95vw;
    color: #000;
    width: 60%;
    font-weight: 500;
    scale: 0;
    transition: all ease 0.5s;
    transition-delay: 0.3s;
    opacity: 0;
}
.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover .circle-in p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover .circle-in p{
    scale: 1;
    opacity: 1;
}



#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgba(78, 255, 62, 0.464); */
    position: relative;
    padding:7vh 0;
}

#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28%;

}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}


#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk-serif";
    left: -12%;
    top: 8%;
}

#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0 ;
}


#page4-content>p {
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
    line-height: 2.5vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 47%;
    height: 40.2vw;
    margin-top: 1vw;
}

#page4-flex p{
    font-size: 1vw;
    width: 25%;
    margin-left: 2.2vw;
    line-height: 1.5vw;
    margin-top: 1vw;
}

#page4-blue-box{
    background-color: #3F7DF4;
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -30vh;
    margin-left: 24vw;

}

.blue-box-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2.5vw 0 ;
    border-bottom: 2px solid #ffffff94;

}
.blue-box-elem h4{
    font-size: 1.5vw;
    font-weight: 500;
}
.blue-box-elem p{
    width: 40%;
    font-size: 1vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.elem{
    /* background-color: red; */
    white-space: nowrap;
    margin-bottom: 0.5vw;
}

.elem h1{
    font-size: 7.5vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: himmat;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes himmat {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}


.elem2{
    /* background-color: red; */
    white-space: nowrap;
    margin-bottom: 0.5vw;
}
.elem2 h1{
    font-size: 7.5vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    transform: translateX(calc(-100% - 20px));
    margin-right: 16px;
    animation-name: himmat;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

#footer{
    height: 90vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}
#footer h1{
    font-size: 7vw;
    text-transform: uppercase;
   /* background-color: blue; */
   position: relative;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk-serif";
    left: -12%;
    top: 8%;
}
.underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0 ;
   
}

#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 6vw;
}

#footer-div h6{
    font-size: 1vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

.box{
    width: 20%;
}
#footer-div h5{
    font-size: 1.5vw;
    font-weight: 500;
}

#footer>h5{
    font-weight: 500;
    font-size: 1vw;
    /* background-color: red; */
    padding-bottom: 4vw 0;
    
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}

#flag{
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: 0;
}

#hero3{
    /* background-color: red; */
    position: relative;
    z-index: 999;
    
}